{% extends 'User/base.html' %}
{% load static %}
{% block content %}
<!-- ========================= SECTION PAGETOP ========================= -->
<main>
    <style>
        #bg{
            background-color: #1e1e1e;
        }
    </style>
<section  id="bg"  class="section-pagetop bg mt-4 pt-5">
    <div  id="bg" class="container-fluid" class="bg">
        {% if 'search' in request.path%}
        <h2 class="pb-2"class="title-page" >Search results</h2>
        {% else %}
        <h2 class="title-page" >Our Market</h2>
        
        {% endif %}
        
    </div> <!-- container //  -->
</section>
    <!-- ========================= SECTION INTRO END// ========================= -->
    
    <!-- ========================= SECTION CONTENT ========================= -->
    <section  id="bg" class="section-content padding-y">
    <div class="container-fluid" id="bg">
    
    <div class="row">
        <aside class="col-md-3">
            
    <div class="card" id="background:#1e1e1e;" >
        <article  id="bg"class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Categories</h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" id="bg">
                <div class="card-body">
                    
                    <ul  id="bg" style="list-style:none;"class="list-menu pr-4">
                    <li  id="bg"><a href="{% url 'market' %}">All Products</a></li>
                        {% for category in links %}
                    <li  id="bg"><a href="{{category.get_url}}">{{category.category_name}} </a></li>
                        {% endfor %}
                    </ul>
    
                </div> <!-- card-body.// -->
            </div>
        </article> <!-- filter-group  .// -->
      
       
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <main class="col-md-9">
    
    <header  id="bg"class="border-bottom mb-4 pb-3">
            <div class="form-inline">
                <span class="mr-md-auto"><b>{{ count }}</b> Items found </span>
                
            </div>
    </header><!-- sect-heading -->
    
<div class="row" id="bg">
  
    

  {% if products%}  
 {% for product in products%}
 <div class="col-md-4 pt-2"  id="bg">
    <div class="card h-100 w-100  " style="background:#1e1e1e;">
        <!-- Sale badge-->
        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
        <!-- Product image-->
        <img  id="bg" class="card-img-top image-fluid w-100 h-100" src="{{product.images.url}}" alt="..." />
        <!-- Product details-->
        <div  id="bg" class="card-body p-4">
            <div  id="bg" class="text-center">
                <!-- Product name-->
                <a href="{{ product.get_url }}"><h5 class="fw-bolder">{{product.product_name}}</h5></a>
                <!-- Product price-->
                <span class="text-muted text-decoration-line-through">  {{product.price}}</span>
              
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer  pt-0 border-top-0 bg-transparent">
            <div  id="bg" class="text-center"><a style="background-color:#00C9C8 !important;;color:white;" class="btn btn-outline-dark mt-auto" href="{{ product.get_url }}">View details</a></div>
        </div>
    </div>
    
</div>

    {% endfor %}
    {% else %}
    <div class="text-center mx-auto">
        <h2>No results found.Try again </h2>
    </div>
    {% endif %}
</div> <!-- row end.// -->
    
    
    <nav class="mt-4"  id="bg" aria-label="Page navigation sample">
    {% if products.has_other_pages %}
      <ul  id="bg"class="pagination">
        {% if products.has_previous %}
        <li class="page-item"><a id="bg" class="page-link" href="?page={{products.previous_page_number }}">Previous</a></li>
        {% else %}
        <li class="page-item disabled"><a id="bg"class="page-link" href="#">Previous</a></li>
        {% endif %}
        {% for i in products.paginator.page_range %}
        {% if products.number == i %}
        <li class="page-item active"><a id="bg"class="page-link" href="#">{{i}}</a></li>
        {% else %}
        <li class="page-item"><a id="bg"class="page-link" href="?page={{i}}">{{i}}</a></li>
        {% endif %}
        {% endfor %}
        {% if products.has_next %}
        <li class="page-item"><a id="bg"class="page-link" href="?page={{products.next_page_number }}">Next</a></li>
        {% else %}
        <li class="page-item disabled"><a id="bg"class="page-link" href="#">Next</a></li>
        {% endif %}

       

      </ul>
      {% endif  %}
    </nav>
    
        </main> <!-- col.// -->
    
    </div>
    
    </div> <!-- container .//  -->
    </section>
</main>
{% endblock %}
